<div id="menu" ng-controller="MenuCtrl as MCtrl">
    <ul>
        <li ng-repeat="item in MCtrl.menuitems">
            <button ng-click="MCtrl.toggleTab(item)">{{item.title}}</button>
        </li>
    </ul>
    <div id="tabs">
        <tabs ng-repeat="item in MCtrl.menuitems"
             ng-show="item.tabOpen" content="item" >
            <span>{{item.title}}</span>
        </tabs>
    </div>
    <div id="search">
        <input type="text" name="searchbox" id="searchbox"
               ng-model="MCtrl.keyWord" placeholder="Search" />
        <button name="find" id="find"  ng-click="MCtrl.searchItems()">Find</button>
    </div>
</div>
